.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.App h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.App .ProductCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.App .ProductCard img {
  width: 200px;
  height: 200px;
}

.App .ProductCard h4,
.App .ProductCard p,
.App .ProductCard h5 {
  margin: 5px;
}
