$bg-color: #fe36;
@mixin box-shadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur $color;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

header {
  .profile {
    img {
      width: 200px;
      height: 270px;
      border-radius: 50%;
    }
  }
}

.resume {
  display: flex;

  h2 {
    color: #000000;
    position: relative;
    font-weight: bold;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: #007bff;
      position: absolute;
      bottom: -3px;
      left: 0;
    }
  }

  .left-side {
    display: flex;
    gap: 30px;
    flex-direction: column;
    background-color: $bg-color;
    padding: 30px;
    .title {
      margin: 0 0 10px;
      font-weight: bold;
    }

    .subtitle {
      margin-left: 30px;
    }
  }

  .right-side {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px;

    .job {
      margin-bottom: 20px;

      .h3 {
        font-size: 1.2em;
        margin-bottom: 5px;
      }

      .p {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .resume {
    flex-direction: column;
  }
}
