/* menu.scss */

body {
  margin: 0;
  padding: 0;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 0 20px;
}

.left-side {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 75px;
  max-height: 75px;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1;
  justify-content: center;
}

.menu-item {
  margin-right: 20px;
}

.menu-item a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu-item a:hover {
  color: #3d4cd7;
}
