.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.Container div {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.Category h1 {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.Category div {
  margin: 20px;
  padding: 20px;
  text-align: center;
}
